.user-page-wrapper {
    width: 400px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #F2F2F2;
    margin: 20px auto;
}
.user-page-wrapper h1 {
    font-size: 25px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}