.form {
  padding: 30px;
  border: 1px solid;
  border-radius: border-box;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 100px auto;
}
.form-username,
.form-email,
.form-password {
  margin: 10px 0;
}
span {
  margin: 0 10px;
}
.form-btn {
  padding: 10px 20px;
  border: none;
}
